

<% @filterlists.each do |filterlist| %>
    <div class="thename">  <%=h filterlist.name %> <%=h filterlist.ep %>
			<%=  link_to  filterlist.regexp, filterlist, :class =>"theadress"   %>
	</div>
	<p></p>
    <%= link_to 'Show', filterlist, :class=>"special" %>
    <%= link_to 'Edit', edit_filterlist_path(filterlist), :class=>"special" %>
    <%= link_to 'Destroy', filterlist, :confirm => 'Are you sure?', :method => :delete , :class=>"special" %>
    <br/>
<% end %>


<br />

<%= link_to 'New filterlist', new_filterlist_path,  :class=>"special"  %>