

<% @filterlists.each do |filterlist| %>
<div class='filter'>
    <div class="thename">  <%=h filterlist.name %> <%=h filterlist.ep %>
			<%=  link_to  filterlist.regexp, filterlist, :class =>"theadress"   %>
	</div>
	<%= link_to '+', filterlists_path+"/inc/"+filterlist.id.to_s , :class=>"incdec" %>
	<%= link_to '-', filterlists_path+"/dec/"+filterlist.id.to_s  , :class=>"incdec" %>
</div>
	<p></p>
<% end %>


<br />

<%= link_to 'New filterlist', new_filterlist_path,  :class=>"special"  %>