

<% @filterlists.each do |filterlist| %>
    <div class="thename">  <%=h filterlist.name %> <%=h filterlist.ep %>
			<%=  link_to  filterlist.regexp, filterlist, :class =>"theadress"   %>
			<%= link_to '+', filterlist, :method =>:inc  , :class=>"special" %>
	</div>
	<p></p>
<% end %>


<br />

<%= link_to 'New filterlist', new_filterlist_path,  :class=>"special"  %>