<h1>Editing rsslist</h1>

<% form_for(@rsslist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :adress %><br />
    <%= f.text_field :adress %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rsslist %> |
<%= link_to 'Back', rsslists_path %>