<!DOCTYPE html>

<html lang="fr">
<head>
   <meta charset="utf-8">
   <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>THOR <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
<div id="lapage">

	<header>
	<div id="logo">
		<img src='/images/thor.png' alt='Thor' />
	</div>
		<nav>
			<ul>	
				<li><%= link_to 'RSS',rsslists_path , :class => controller_name=='rsslists' %></li>
				<li><%= link_to 'Filters', filterlists_path, :class => controller_name=='filterlists'  %></li>
				<li><%= link_to 'Scan', {:controller => "home" , :action => "scan" }, :class => controller_name=='home' %></li>
			</ul>	
		</nav>
	</header>
	<section>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
	</section>

	<footer>
		<p> © Alban Avenant. </p>	
	</footer>

</div>
</body>
</html>